Thumbs.db
.DS_Store
*~
.~lock*
target/*
out/*
.idea
stacktrace.log
target-eclipse/
/classes
/web-app/WEB-INF/classes
.link_to_grails_plugins
.gradle
build/
bin/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
